--
-- PostgreSQL database dump
--

\restrict ZhO5jMpLB2Cadky0UIbh15dKJdzmuVG4heUP1TlkKN6ByO2OK1gyvC1Veuh8Z3c

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: k9sync
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO k9sync;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: k9sync
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivityRecord; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."ActivityRecord" (
    id text NOT NULL,
    collar_id text NOT NULL,
    steps integer DEFAULT 0 NOT NULL,
    active_minutes integer DEFAULT 0 NOT NULL,
    rest_minutes integer DEFAULT 0 NOT NULL,
    sleep_phase text DEFAULT 'awake'::text NOT NULL,
    anomaly_detected boolean DEFAULT false NOT NULL,
    anomaly_type text,
    recorded_at timestamp(3) without time zone NOT NULL,
    synced_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivityRecord" OWNER TO k9sync;

--
-- Name: Alert; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."Alert" (
    id text NOT NULL,
    dog_id text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text,
    read boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Alert" OWNER TO k9sync;

--
-- Name: Collar; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."Collar" (
    id text NOT NULL,
    serial_number text NOT NULL,
    dog_id text NOT NULL,
    battery_level integer,
    firmware_version text,
    last_seen_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    is_online boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Collar" OWNER TO k9sync;

--
-- Name: Dog; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."Dog" (
    id text NOT NULL,
    name text NOT NULL,
    breed text,
    birth_date timestamp(3) without time zone,
    weight numeric(65,30),
    sex text,
    allergies text[] DEFAULT ARRAY[]::text[],
    photo_url text,
    avatar_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Dog" OWNER TO k9sync;

--
-- Name: DogUser; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."DogUser" (
    id text NOT NULL,
    dog_id text NOT NULL,
    user_id text NOT NULL,
    role text DEFAULT 'owner'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DogUser" OWNER TO k9sync;

--
-- Name: GpsLocation; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."GpsLocation" (
    id text NOT NULL,
    collar_id text NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    accuracy double precision,
    recorded_at timestamp(3) without time zone NOT NULL,
    synced_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    trail_id text
);


ALTER TABLE public."GpsLocation" OWNER TO k9sync;

--
-- Name: HealthRecord; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."HealthRecord" (
    id text NOT NULL,
    collar_id text NOT NULL,
    heart_rate integer,
    temperature double precision,
    anomaly_detected boolean DEFAULT false NOT NULL,
    anomaly_type text,
    recorded_at timestamp(3) without time zone NOT NULL,
    synced_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."HealthRecord" OWNER TO k9sync;

--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."RefreshToken" (
    id text NOT NULL,
    user_id text NOT NULL,
    token text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RefreshToken" OWNER TO k9sync;

--
-- Name: Trail; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."Trail" (
    id text NOT NULL,
    collar_id text NOT NULL,
    started_at timestamp(3) without time zone NOT NULL,
    ended_at timestamp(3) without time zone NOT NULL,
    distance_m integer NOT NULL,
    duration_s integer NOT NULL,
    points_count integer NOT NULL
);


ALTER TABLE public."Trail" OWNER TO k9sync;

--
-- Name: User; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    phone text,
    subscription_plan text DEFAULT 'free'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO k9sync;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: k9sync
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO k9sync;

--
-- Data for Name: ActivityRecord; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public."ActivityRecord" (id, collar_id, steps, active_minutes, rest_minutes, sleep_phase, anomaly_detected, anomaly_type, recorded_at, synced_at) FROM stdin;
\.


--
-- Data for Name: Alert; Type: TABLE DATA; Schema: public; Owner: k9sync
--



--
-- Data for Name: Collar; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public."Collar" (id, serial_number, dog_id, battery_level, firmware_version, last_seen_at, created_at, updated_at, is_online) FROM stdin;
4b7825b0-5098-4ac2-936c-73ab5ac5f63c	SIM001	899a808d-27de-4d2b-b3b9-5d886c6157aa	87	1.0.0-sim	\N	2026-03-14 12:36:57.351	2026-03-14 12:36:57.351	t
\.


--
-- Data for Name: Dog; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public."Dog" (id, name, breed, birth_date, weight, sex, allergies, photo_url, avatar_url, created_at, updated_at) FROM stdin;
899a808d-27de-4d2b-b3b9-5d886c6157aa	Nami	Shiba Inu	2023-01-09 23:00:00	10.000000000000000000000000000000	female	{}	/uploads/dog_2ac25f33-7f1a-4fb5-be58-d69b252e8c21_1773493786748.jpg	\N	2026-03-14 12:33:38.423	2026-03-14 13:09:48.567
\.


--
-- Data for Name: DogUser; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public."DogUser" (id, dog_id, user_id, role, created_at) FROM stdin;
ffeb8bc4-1f04-4556-97bb-43ca7fe7de68	899a808d-27de-4d2b-b3b9-5d886c6157aa	2ac25f33-7f1a-4fb5-be58-d69b252e8c21	owner	2026-03-14 12:33:38.429
\.


--
-- Data for Name: GpsLocation; Type: TABLE DATA; Schema: public; Owner: k9sync
--



--
-- Data for Name: HealthRecord; Type: TABLE DATA; Schema: public; Owner: k9sync
--



--
-- Data for Name: RefreshToken; Type: TABLE DATA; Schema: public; Owner: k9sync
--



--
-- Data for Name: Trail; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public."Trail" (id, collar_id, started_at, ended_at, distance_m, duration_s, points_count) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public."User" (id, email, password_hash, first_name, last_name, phone, subscription_plan, created_at, updated_at) FROM stdin;
2ac25f33-7f1a-4fb5-be58-d69b252e8c21	laurie@test.fr	$2b$12$0s..UpxLdvElTuKYY8FI9uSU/vtZOD2AW45En79YMBCq4VM8a7Tya	Laurie	Jeham	\N	free	2026-03-14 12:33:25.875	2026-03-14 12:33:25.875
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: k9sync
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Name: ActivityRecord ActivityRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."ActivityRecord"
    ADD CONSTRAINT "ActivityRecord_pkey" PRIMARY KEY (id);


--
-- Name: Alert Alert_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_pkey" PRIMARY KEY (id);


--
-- Name: Collar Collar_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."Collar"
    ADD CONSTRAINT "Collar_pkey" PRIMARY KEY (id);


--
-- Name: DogUser DogUser_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."DogUser"
    ADD CONSTRAINT "DogUser_pkey" PRIMARY KEY (id);


--
-- Name: Dog Dog_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."Dog"
    ADD CONSTRAINT "Dog_pkey" PRIMARY KEY (id);


--
-- Name: GpsLocation GpsLocation_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."GpsLocation"
    ADD CONSTRAINT "GpsLocation_pkey" PRIMARY KEY (id);


--
-- Name: HealthRecord HealthRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."HealthRecord"
    ADD CONSTRAINT "HealthRecord_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (id);


--
-- Name: Trail Trail_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."Trail"
    ADD CONSTRAINT "Trail_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ActivityRecord_collar_id_recorded_at_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "ActivityRecord_collar_id_recorded_at_idx" ON public."ActivityRecord" USING btree (collar_id, recorded_at);


--
-- Name: Alert_dog_id_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "Alert_dog_id_idx" ON public."Alert" USING btree (dog_id);


--
-- Name: Collar_dog_id_key; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE UNIQUE INDEX "Collar_dog_id_key" ON public."Collar" USING btree (dog_id);


--
-- Name: Collar_serial_number_key; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE UNIQUE INDEX "Collar_serial_number_key" ON public."Collar" USING btree (serial_number);


--
-- Name: DogUser_dog_id_user_id_key; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE UNIQUE INDEX "DogUser_dog_id_user_id_key" ON public."DogUser" USING btree (dog_id, user_id);


--
-- Name: DogUser_user_id_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "DogUser_user_id_idx" ON public."DogUser" USING btree (user_id);


--
-- Name: GpsLocation_collar_id_recorded_at_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "GpsLocation_collar_id_recorded_at_idx" ON public."GpsLocation" USING btree (collar_id, recorded_at);


--
-- Name: GpsLocation_trail_id_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "GpsLocation_trail_id_idx" ON public."GpsLocation" USING btree (trail_id);


--
-- Name: HealthRecord_collar_id_recorded_at_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "HealthRecord_collar_id_recorded_at_idx" ON public."HealthRecord" USING btree (collar_id, recorded_at);


--
-- Name: RefreshToken_expires_at_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "RefreshToken_expires_at_idx" ON public."RefreshToken" USING btree (expires_at);


--
-- Name: RefreshToken_user_id_idx; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE INDEX "RefreshToken_user_id_idx" ON public."RefreshToken" USING btree (user_id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: k9sync
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: ActivityRecord ActivityRecord_collar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."ActivityRecord"
    ADD CONSTRAINT "ActivityRecord_collar_id_fkey" FOREIGN KEY (collar_id) REFERENCES public."Collar"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Alert Alert_dog_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_dog_id_fkey" FOREIGN KEY (dog_id) REFERENCES public."Dog"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Collar Collar_dog_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."Collar"
    ADD CONSTRAINT "Collar_dog_id_fkey" FOREIGN KEY (dog_id) REFERENCES public."Dog"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DogUser DogUser_dog_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."DogUser"
    ADD CONSTRAINT "DogUser_dog_id_fkey" FOREIGN KEY (dog_id) REFERENCES public."Dog"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DogUser DogUser_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."DogUser"
    ADD CONSTRAINT "DogUser_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GpsLocation GpsLocation_collar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."GpsLocation"
    ADD CONSTRAINT "GpsLocation_collar_id_fkey" FOREIGN KEY (collar_id) REFERENCES public."Collar"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HealthRecord HealthRecord_collar_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."HealthRecord"
    ADD CONSTRAINT "HealthRecord_collar_id_fkey" FOREIGN KEY (collar_id) REFERENCES public."Collar"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RefreshToken RefreshToken_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: k9sync
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: k9sync
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ZhO5jMpLB2Cadky0UIbh15dKJdzmuVG4heUP1TlkKN6ByO2OK1gyvC1Veuh8Z3c

